@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
	ViewData["Title"] = "Registro";
}

<h2>Registro de Cliente Ocasional</h2>


@*cOMENTARIO*@
<form action="/Account/Registro" method="post">
	<div class="mb-3">
		<label class="form-label">Email:</label>
		<input name="Email" class="form-control" required/>
	</div>
	<div class="mb-3">
		<label class="form-label">Contraseña:</label>
		<input name="Contrasena" type="password" class="form-control"required />
	</div>
	<div class="mb-3">
		<label class="form-label">Nombre:</label>
		<input name="Nombre" class="form-control" required />
	</div>
	<div class="mb-3">
		<label class="form-label">Documento:</label>
		<input name="Documento" class="form-control" required />
	</div>
	<div class="mb-3">
		<label class="form-label">Nacionalidad:</label>
		<input name="Nacionalidad" class="form-control" required />
	</div>
	<button type="submit" class="btn btn-primary">Registrar</button>
</form>
@if(ViewBag.Error != null)
{
	<strong>@ViewBag.Error</strong>
}
